h1 {
    color: black;
    font-size: 200px;

}
h1 span {
    color:red;
}

li {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}
li ol {
    font-size: 25pxpx;
}
.column {
    float: left;
    width: 33%;
    padding: 0.5px 0.5px 0.5px 0.5px;
     
    
}
#last p{
    text-align:center;
    font-size:20px;
    
}