* {
    font-family: 'Courier New', Courier, monospace;
}

h1,h2,h3 {
    margin: 0;
    padding: 0;
}

h1 {
    background-color: rgb(170, 240, 216);
    padding: 30px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    /* font-size: 35px; */
}

h3 {
    background-color: rgb(247, 232, 151);
    padding: 20px;
}
